---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
export async function getStaticPaths() {
       const posts  =  await fetch(`http://localhost:1337/api/posts?populate=deep`).then(res => res.json())
      return  posts.map(post =>  ({params : {slug:post.slug}}))
    }

    const {slug} =  Astro.request.params
    const postItem = await fetch(`http://localhost:1337/api/posts?slug=${slug}`).then(x  => x.json())
---

<html lang="en">
	<head>
		<BaseHead title="title" description="description" />
		<style>
		</style>
	</head>
	<body>
		<Header />
		<main>
			<article>
				<hr />
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
